  /* Header */
  .logo {
    width: 25%;
    z-index: 100;
    position: fixed;
    max-width: 255px;
    max-height: 115px;
  }



  /* Navigation Bar */
  .hamburger {
    padding-right: 0%;
  }

  .navbar {
    position: fixed;
    z-index: 100;
    padding-top: 150px;
  }

  .navbar-toggler {
    background-color: white;
  }

  .nav-item a {
    color: #DDA92B;
    font-family: 'Times New Roman', Times, serif;
  }

  .nav-item :hover {
    color: #efce84;
  }

  
  /* Main Content */
  .text{
    padding-top: 5%;
    padding-left: 2%;
    float: right;
    width: 75%;
    font-size: 1.5vw;
    font-size: 1.5vh;
    font-family: 'Times New Roman', Times, serif;
  }

  p{
    color: #DDA92B;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  h2{
    color: #DDA92B;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
  }

  h3{
    color: #DDA92B;
  }
  
  section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  article{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
  }

  .container{
    background-color: #0e0d0d;
    padding-top: 1%;
    padding-bottom: 1%;
  }



  /* Footer */
  footer {
    margin-top: auto;
    background-color: #0f0f0f;
  }

  footer p {
    padding-left: 20px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: #DDA92B;
  }



  /* General */
  body {
    width: 1260px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url(/images/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  section {
    background-color: #0e0d0d;
  }