  /* Header */
  .logo {
    width: 25%;
    z-index: 100;
    position: fixed;
    max-width: 255px;
    max-height: 115px;
  }



  /* Navigation Bar */
  .hamburger {
    padding-right: 0%;
  }

  .navbar {
    position: fixed;
    z-index: 100;
    padding-top: 150px;
  }

  .navbar-toggler {
    background-color: white;
  }

  .nav-item a {
    color: #DDA92B;
    font-family: 'Times New Roman', Times, serif;
  }

  .nav-item :hover {
    color: #efce84;
  }



  /* Albums Section */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 25%;
    padding: 0 4px;
  }

  #albumsSection img {
    margin-top: 8px;
    vertical-align: middle;
    min-height: 280px;
    max-height: 300px;
    border-radius: 5px;
  }

  #albumsSection {
    background-color: #262626;
    padding-bottom: 50px;
  }

  #albumsSection h1 {
    color: #B2851F;
    padding-left: 50px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
  }



  /* About Section */
  #aboutSection {
    background-color: #444444;
  }

  #aboutSection img {
    max-height: 750px;
    min-height: 750px;
    padding-left: 100px;
  }


  #aboutSection p {
    color: #DDA92B;
    font-size: min(16px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #aboutSection h1 {
    padding-top: 20px;
    padding-left: 150px;
    color: #B2851F;
    font-family: 'Times New Roman', Times, serif;
  }



  /* Footer */
  footer {
    margin-top: auto;
    background-color: #0f0f0f;
  }

  footer p {
    padding-left: 20px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: #DDA92B;
  }



  /* General */
  body {
    width: 1260px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url(/images/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }