.logo{
    width: 25%;
  }

  .hamburger{
    padding-right: 0%;
  }

  .navbar{
    position: fixed;
    z-index: 100;
  }

  .navbar-toggler{
    background-color: white;
  }

  .nav-item a{
    color: #DDA92B;
    font-family: 'Times New Roman', Times, serif;
  }

  .nav-item :hover{
    color: #efce84;
  }

  .image{
    padding-top: 7.5%;
    float: left;
    width: 25%;
    height: auto;
  }

  .text{
    padding-top: 5%;
    padding-left: 2%;
    float: right;
    width: 75%;
    font-size: 1.5vw;
    font-size: 1.5vh;
    font-family: 'Times New Roman', Times, serif;
  }

  body{
    background-color: #262626;
    display: flex;
    flex-direction: column;
  }

  footer{
    margin-top: auto;
    padding-top: 10%;
  }

  footer p{
    padding-left: 20px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
  }

  p{
    color: #DDA92B;
    font-family: 'Times New Roman', Times, serif;
  }


  .container{
    padding-top: 2%;
  }

  .column{
    float: left;
    width: 50%;
    padding: 10px;
  }

  .card{
    height: 52%;
  }

  .card img{
    height: 350px;
  }

  h5{
    font-family: 'Times New Roman', Times, serif;
  }