  /* Header */
  .logo {
    width: 25%;
    z-index: 100;
    position: fixed;
    max-width: 255px;
    max-height: 115px;
  }



  /* Navigation Bar */
  .hamburger {
    padding-right: 0%;
  }

  .navbar {
    position: fixed;
    z-index: 100;
    padding-top: 150px;
  }

  .navbar-toggler {
    background-color: white;
  }

  .nav-item a {
    color: #DDA92B;
    font-family: 'Times New Roman', Times, serif;
  }

  .nav-item :hover {
    color: #efce84;
  }



  .contact-form label,
  .contact-form input,
  .contact-form textarea {
    display: block;
    width: 50%;
  }

  .contact-form label {
    margin-bottom: 0.5em;
    color: #DDA92B;
  }

  .contact-form input,
  .contact-form textarea {
    border: 1px solid #003612;
    font-family: inherit;
    font-size: 1em;
    padding: .5em;
  }

  form {
    padding-top: 25%;
    padding-bottom: 50px;
  }

  .buttons {
    width: 24.8%;
  }



  /* Footer */
  footer {
    margin-top: auto;
    background-color: #0f0f0f;
  }

  footer p {
    padding-left: 20px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: #DDA92B;
  }



  /* General */
  body {
    width: 1260px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url(/images/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  section {
    background-color: #0f0f0f;
  }